.container {
    width: 26vmax;
    height: 36vmax;
    background: linear-gradient(to bottom right, #009708, #008663, #009ca1);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #fff;
    white-space: nowrap;
}

.topSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    gap: 0.6vmax;
    padding: 0vmax 1vmax;
}

.cityInput {
    background-color: #ffffffcc;
    border: none;
    outline: none;
    font-size: 1vmax;
    font-weight: 600;
    padding: 1vmax 1.2vmax;
    border-radius: 50px;
    flex: 1;
}

.searchIcon {
    width: 3vmax;
    height: 3vmax;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #ffffffcc;
    font-size: 1.4vmax;
    cursor: grab;
    transition: 0.3s;
}

.searchIcon:active {
    cursor: grabbing;
    width: 2.5vmax;
    height: 2.5vmax;
}

.middleSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65%;
    width: 100%;
    gap: -0.5vmax;
}

.hoverable {
    transition: 0.4s;
}

.hoverable:hover {
    transform: scale(1.05);
}

.weatherIcon {
    width: 35%;
}

.temperatureValue {
    font-weight: 700;
    font-size: 4.5vmax;
    margin-top: 1.5vmax;
}

.cityName {
    font-weight: 500;
    font-size: 2.5vmax;
    margin-top: -1vmax;
}

.bottomSection {
    width: 100%;
    height: 15%;
    display: flex;
}

.dataSection {
    display: flex;
    width: 50%;
    height: 100%;
}

.dataImage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
}

.dataDescription {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1vmax;
    width: 60%;
    height: 100%;
    /* background-color: blue; */
}

.dataSection img {
    width: 55%;
}